html{
    font-size: 80%;
    display: block;
}

body{
    display: grid;
    grid-template:4rem 8rem auto 4rem 4rem 4rem / auto;
    width: 100vw;
    height: 100vh;
    gap:2rem;
}
body div, body ul{
    border: 2px solid #c79800;
    background-color: #9dff00;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}

h2{
    margin: 1rem 0;
}

li{
    list-style: none;
    line-height: 1.5;
    
}
li a{
    /* text-decoration: none;
    color: black; */
}