html{
    font-size: 75%;
    display: block;
}

body{
    display: grid;
    grid-template:1fr 1fr 5fr 1fr / 1fr 3fr;
    width: 100vw;
    height: 100vh;
    gap:2rem;
}
body div, body ul{
    border: 2px solid #c79800;
    background-color: #ffd000;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}

h2{
    margin: 1rem 0;
}

li{
    list-style: none;
    line-height: 1.5;
}
li a{
    /* text-decoration: none;
    color: black; */
}

.header{
    grid-area: 1/1/1/3;
}

.nav{
    grid-area: 2/1/2/3;
    display: flex;
    justify-content: space-between;
}
.sidebar{
    grid-area: 3/1/3/2;
}


